{{ if ne .URL "/post/what-is-this/" }}
	{{ if .IsPage }}	
		<article class="summary">
			<div
				class="article-bullet-container"
				style="display:none"
				data-article-title="{{ .Title }}"
			></div>
			<div>
				<h2>

					<a href="{{ .Permalink }}">
						{{ .Title }}
					</a>
				</h2>
				<i><time>{{ .Date.Format "January 2, 2006" }}</time> &mdash; {{ .ReadingTime }} minute read</i>
				{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
				<div>{{ .Params.teaser }}</div>
			</div>
		</article>
	{{ end }}
{{ end }}
